# Data Structure Theory Questions

1. What are data structures, and why are they important ?
   - Data Structures are the way to arrange data in a computer so that it can be accessed and updated efficiently.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable Data Type – A mutable data type is one whose values can be changed after creation.  
    Example: List, Dictionaries, and Set
  -Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.                                                    
    Example: String and Tuples

3. What are the main differences between lists and tuples in Python ?
  - Tuples are immutable objects and lists are mutable objects.                   
  - Once defined, tuples have a fixed length and lists have a dynamic length.     
  -Tuples use less memory and are faster to access than to lists.                
  -Tuple syntax uses round brackets or parenthesis, and list syntax uses square brackets.

4.  Describe how dictionaries store data.
   - Dictionaries store data as key-value pairs, where each key is unique and maps to a corresponding value.
   - Ex: my_dict = {"name": "Akash", "age": 22, "city": "Hyderabad"}

5. Why might you use a set instead of a list in Python ?
  - You might use a set instead of a list in Python because Sets automatically remove duplicate elements.

 6.  What is a string in Python, and how is it different from a list ?
    - Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets [].
    - Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.
    - Operations like concatenation (+) and repetition (*) work differently for strings and lists. Concatenating strings will merge them together, while concatenating lists will combine their elements.

7. How do tuples ensure data integrity in Python ?
  - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.
  - This immutability allows tuples to be used as keys in dictionaries.

8. What is a hash table, and how does it relate to dictionaries in Python ?
  - In general, hash tables store key-value pairs and the key is generated using a hash function.
  - Hash tables or has maps in Python are implemented through the built-in dictionary data type.
  - The keys of a dictionary in Python are generated by a hashing function.

9. Can lists contain different data types in Python ?
  - lists can contain heterogeneous data types and objects. For instance,  integers, strings, and even functions can be stored within the same list.

10.  Explain why strings are immutable in Python.
   - strings are immutable (unchangeable) for efficiency, safety, and consistency.

In [1]:
d = {"key": "value"}
# If strings were mutable, modifying "key" could break the dictionary!

11. What advantages do dictionaries offer over lists for certain tasks ?
   - Dictionaries in Python offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.
   - Easy to understand key value pairs: Dictionaries consist of key value pairs, making it easier to associate and access relevant data together.
   - Dynamic data structure: Dictionaries in Python are mutable, meaning you can add, update, or remove key value pairs as needed, providing flexibility in managing data.

12. Describe a scenario where using a tuple would be preferable over a list.
   -  If you have data that's not meant to be changed in the first place — such as critical information or records — you should choose tuple data type over lists.

13. How do sets handle duplicate values in Python ?
  - sets automatically remove duplicate values because they are designed to store only unique elements.

In [2]:
numbers = {1, 2, 2, 3, 3, 3}
print(numbers)                    # Output: {1, 2, 3} (duplicates removed)
                                  # When you add a duplicate value to a set, it’s ignored:

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries ?
   - For Lists "in" Checks values by scanning each item sequentially.Best for small lists.
   - For Dictionaries "in" Checks keys not values .Suitable for large data sets.

15. Can you modify the elements of a tuple? Explain why or why not.
  - tuples are immutable, which means you cannot modify their elements after they are created. Once a tuple is defined, you cannot change, add, or remove any of its elements.
  - Because :
       - Tuples are designed to be fixed collections of items, ensuring data integrity.
       - Immutability allows tuples to be faster than lists for certain operations because Python can optimize them.
       - Tuples are often used for fixed data (e.g., days of the week, coordinates) where modification is not intended.

16. What is a nested dictionary, and give an example of its use case ?
   - A nested dictionary is a dictionary that contains other dictionaries as values. This allows you to store hierarchical or structured data in a key-value format where some values are themselves dictionaries.
   - Example Use Case: Storing Student Information
         - A nested dictionary is useful for organizing student data where each student has multiple attributes (e.g., name, age, grades) and some attributes may themselves contain structured data (e.g., subjects and marks).

 17. Describe the time complexity of accessing elements in a dictionary ?
    -

18. In what situations are lists preferred over dictionaries ?
   - Lists are preferred when data needs to be stored in order, accessed sequentially by index, or iterated over efficiently. They use less memory compared to dictionaries and are ideal for storing homogeneous data.
   - If you need simple data lookup by index without key-value mapping, lists are a better choice.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
  - Dictionaries are designed for fast lookup of values based on their keys, and the unordered nature is a consequence of this design choice.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
   - In data retrieval, lists are accessed by index (position), while dictionaries are accessed by key. This means dictionaries offer faster retrieval when you know the key, whereas lists are better for sequential access or when you need to iterate through elements in

# Data Structures Practical Questions

In [3]:
# 1. Write a code to create a string with your name and print it.
myName="Akash"
print(myName)

Akash

In [4]:
# 2. Write a code to find the length of the string "Hello World".
s1="Hello World"
print("length of the string ",s1," is ",len(s1))

length of the string  Hello World  is  11

In [5]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
s2="Python Programming"
s2[3:]

'hon Programming'

In [6]:
# 4. Write a code to convert the string "hello" to uppercase ?
s3="hello"
s3.upper()

'HELLO'

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s4="I like apple"
s4.replace("apple","orange")

'I like orange'

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers=list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers=list(range(1,5))
print(numbers)
numbers.append(10)
print(numbers)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [10]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers=list(range(1,6))
print(numbers)
numbers.remove(3)
print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lists=['a','b','c','d']
print("2nd element in the list is ",lists[1])

2nd element in the list is  b

In [22]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
num=list(range(10,60,10))
print(num)
num.reverse()
num

[10, 20, 30, 40, 50]

[50, 40, 30, 20, 10]

In [26]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100,200,300)
print("Tupple = ",tup)
type(tup)

Tupple =  (100, 200, 300)

tuple

In [28]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t=('red','green','blue','yellow')
t[1:]

('green', 'blue', 'yellow')

In [36]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t1=(10,20,5,15)
print(t1)
p=t1[0]
for num in t1:
  if num<p:
      p=num
print("Minimum number in the tuple is ",p)

(10, 20, 5, 15)
(10, 20, 5, 15)
Minimum number in the tuple is  5

In [37]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t2=('dog','cat','rabbit')
print(t2)
t2.index('cat')

('dog', 'cat', 'rabbit')

1

In [38]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
print("Fruits tuple:", fruits)
if "kiwi" in fruits:
    print("Kiwi is in the tuple!")
else:
    print("Kiwi is NOT in the tuple.")

Fruits tuple: ('apple', 'banana', 'orange')
Kiwi is NOT in the tuple.

In [39]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [40]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
my_set.clear()
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [41]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
print("Original set:", my_set)
my_set.remove(4)
print("Set after removing 4:", my_set)

Original set: {1, 2, 3, 4}
Set after removing 4: {1, 2, 3}

In [42]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [43]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

In [44]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Akash", "age": 22, "city": "Hyderabad"}
print(my_dict)

{'name': 'Akash', 'age': 22, 'city': 'Hyderabad'}

In [45]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [46]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
n = person['name']
print(n)

Alice

In [47]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [48]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [49]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("List:", my_list)

List: [1, 2, 3]

In [50]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [10, 34, 46, 56, 87]

In [51]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at index 3:", my_list[3])

Element at index 3: date

In [53]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
combined_dict = dict1 | dict2
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 3, 'c': 4}

In [54]:
# 30. Write a code to convert a list of strings into a set.
my_list = ['apple', 'banana', 'cherry', 'apple']
my_set = set(my_list)
print("Set from list:", my_set)

Set from list: {'banana', 'apple', 'cherry'}